
img a{border:0;}

img{width:100%;}

#banner{background-image: url(../images/car_rentalpics_bg_05.jpg) ; background-position:30px 0;}
#banner .big, #banner figcaption{margin:0 0 0 30px;}
#banner figure#bannerimage{width:48%; margin:0 0 0 30px;}
#booking_form .query_btn{ width:52%;}
#contact_form{display:none;}
#wrapper { margin: auto; height: auto;width: 78%; font-family: 'Signika', sans-serif;}

#inner_wrapper .panel{width:23%; margin:0 0 15px 1.7%;}
#inner_wrapper #newsletter .newsletter input[type='text']{ margin:0.2em 0;}

#inner_wrapper .front_img{ width:220px; height:118px; }

#inner_wrapper .panel h2{font-size:1em;}

#right_coler #image2{height:320px; width:91%;}
#right_coler #image5{height:320px; width:91%;}
#right_coler #image5 p{font-size:0.75em;}
#right_coler #image5 h2{font-size:1.1em;}
#right_coler #image3{height:320px; width:91%;}
#right_coler #image5 form input[type='text']{ margin:0.2em 0;}
#left_column{width:98%; display:block;}
#left_column #contact_form{ display:none;}

.cars_box .carsbutton a{width:100%;}