# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

.sass-cache
.tmp
bower_components
dist
node_modules
package.json
bower.json
.jshintrc
.editorconfig
.bowerrc
.gitignore
Gruntfile.js
docs

app/Foundation-5/
app/Foundation-5/css/
app/Foundation-5/img/
app/Foundation-5/js/
app/Foundation-5/js/foundation/
app/Foundation-5/js/vendor/
app/Foundation-6/
app/Foundation-6/css/
app/Foundation-6/img/
app/Foundation-6/js/
app/Foundation-6/js/foundation/
app/Foundation-6/js/vendor/
app/images/
app/test.html/
app/page1_images/
app/scripts/html5shiv.min.js
app/scripts/jquery-1.11.2.js
app/scripts/jquery.validate.min.js
app/scripts/selectivizr-min.js
app/scripts/selectivizr.js

app/scripts/jquery-ui-1.11.2.custom/
app/scripts/jquery-ui-1.11.2.custom/external/
app/scripts/jquery-ui-1.11.2.custom/external/jquery/
app/scripts/jquery-ui-1.11.2.custom/images/
app/scripts/Respond-master/
app/scripts/vendor/

app/styles/redmond/
app/styles/redmond/images/


app/text files/
app/.htaccess
Tester2/