# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

dist/
.git/
FILES/
node_modules/
test/
.sass-cache/
car-rental-foundation/foundation-icons/
car-rental-foundation/ie8-min.css.map
car-rental-foundation/CHANGELOG.md
car-rental-foundation/normalize-min.css.map
car-rental-foundation/style-min.css.map
car-rental-foundation/style.css.map
car-rental-foundation/normalize.css.map
car-rental-foundation/ie8.css.map
car-rental-foundation/images/
car-rental-foundation/fonts/
car-rental-foundation/styles/scss/

car-rental-foundation/scripts/dist-motion-ui/
car-rental-foundation/scripts/dist-what-input/
car-rental-foundation/scripts/jquery/
car-rental-foundation/scripts/Respond-master/
car-rental-foundation/scripts/html5shiv.min.js
car-rental-foundation/scripts/selectivizr.js
car-rental-foundation/scripts/selectivizr-min.js
car-rental-foundation/scripts/jquery.validate.min.js
