# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

node_modules/
test/
bower_components/
.sass-cache/
dist/
docs/
foundation-icons/
ie8-min.css.map
CHANGELOG.md
normalize-min.css.map
style-min.css.map
style.css.map
normalize.css.map
ie8.css.map
images/
fonts/

scripts/Respond-master/
scripts/html5shiv.min.js
scripts/selectivizr.js
scripts/selectivizr-min.js
scripts/jquery.validate.min.js
