$color:#FFFFFF;
$color1:#33CCFF;
$color2:#6ccff7;
$color3:#3399CC;
$color15:#06F;
$color4:#cccccc;
$color5:#999999;
$color6:#666;
$color7:#000000;
$color8:#303836;
$color9:#FFCC33;
$color11:#fc773c;
$color13:#EF3528;
$color14:#185F79;
