@font-face {
  font-family: "Signika";

  src: url("fonts/signika/Signika/Signika-Regular.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("fonts/signika/Signika/Signika-Light.ttf")
      format("truetype"),
    url("fonts/signika/Signika/Signika-Semibold.ttf") format("truetype"),
    url("fonts/signika/Signika/Signika-Bold.ttf") format("truetype"); /* Legacy iOS */
}

$fontStyle: "Signika", arial, helvetica, sans-serif;
