@mixin box-sizing($type: border-box) {
  -webkit-box-sizing: $type; // Android < 2.3, iOS < 4
  -moz-box-sizing: $type; // Firefox < 29
  box-sizing: $type; // Chrome, IE 8+, Opera,8 Safari 5.1
}

@mixin gradient($baseColor, $toColor) {
  background-color: $baseColor;
  // background-image: -moz-linear-gradient(top, $baseColor, $toColor); /* FF3.6 */
  // background-image: -webkit-gradient(
  //   linear,
  //   to right,
  //   left bottom,
  //   color-stop(0, $baseColor),
  //   color-stop(1, $toColor)
  // ); /* Saf4+, Chrome */
  background-image: linear-gradient(180deg, $baseColor, $toColor);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='$baseColor', EndColorStr='$toColor'); /* IE6â��IE9 */
}

@mixin rounded($radius...) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}

@mixin boxShadow($shadow...) {
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  -o-box-shadow: $shadow;
  box-shadow: $shadow;
}
