<article class="media-object cars_box">
  <div class="media-object-section">
    <img
      class="cars_box_img"
      src="{{imageUrl}}"
      title="car-rental-website-cheverolet-aveo"
    />
  </div>

  <div class="media-object-section">
    <div class="cars_box_txt">
      <p>{{type}}</p>
      <p>{{name}}</p>
      <p>{{text}}</p>
    </div>
    <div class="car-icons-box">
      <figure class="car-icons">
        <img
          src="assets/img/car-rental-website-passengers-large.png"
          alt="car-rental-website-passengers"
        />
      </figure>
      <figure class="car-icons">
        <img
          src="assets/img/car-rental-website-luggage-large.png"
          alt="car-rental-website-luggage"
        />
      </figure>
      <figure class="car-icons">
        <img
          src="assets/img/car-rental-website-car-doors-large.png"
          alt="car-rental-website-car-doors"
        />
      </figure>
      <figure class="car-icons">
        <img
          src="assets/img/car-rental-website-auto-or-manual-large.png"
          alt="car-rental-website-auto-or-manual"
        />
      </figure>
      <br />
    </div>

    <p></p>

    <a href="#" class="carsbutton">Continue &rsaquo;</a>
  </div>
</article>
