<div class="grid-x grid-padding-x">
  <!--footer-->
  <footer>
    <div class="large-12 medium-12 small-12 cell">
      <ul id="footer_nav">
        <li class="active">
          <a href="index.html" title="car-rental-home-page">Home</a>
        </li>
        <li>
          <a href="specials.html" title="car-rental-specials-page"
            >Special Offers</a
          >
        </li>
        <li>
          <a href="cars.html" title="car-rental-cars-page">Cars</a>
        </li>
        <li>
          <a href="locations.html" title="car-rental-location-page"
            >Locations</a
          >
        </li>
        <li>
          <a href="about.html" title="car-rental-about-page">About</a>
        </li>
        <li>
          <a href="contact.html" title="car-rental-contact-page">Contact</a>
        </li>
      </ul>
    </div>
  </footer>
</div>
<!--footer end-->
