<!--header-->
<div class="grid-x">
  <div class="large-12 medium-12 small-12 cell">
    <header id="header">
      <div
        class="title-bar"
        data-responsive-toggle="primary_nav"
        data-hide-for="medium"
      >
        <button type="button" class="menu-icon" data-toggle></button>
      </div>

      <div class="top-bar" data-animate="hinge-in-from-top spin-out">
        <div class="top-bar-left">
          <ul class="title-area">
            <li class="name">
              <h1><span>CAR</span> Rental</h1>
            </li>
          </ul>
        </div>

        <nav id="primary_nav">
          <ul class="vertical medium-horizontal menu">
            <li class="active">
              <a href="index.html" title="car-rental-home-page">Home</a>
            </li>
            <li>
              <a href="specials.html" title="car-rental-specials-page"
                >Special Offers</a
              >
            </li>
            <li>
              <a href="cars.html" title="car-rental-cars-page">Cars</a>
            </li>
            <li>
              <a href="locations.html" title="car-rental-location-page"
                >Locations</a
              >
            </li>
            <li>
              <a href="about.html" title="car-rental-about-page">About</a>
            </li>
            <li>
              <a href="contact.html" title="car-rental-contact-page">Contact</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
  </div>
</div>
<!--header end-->
