<article class="specials_box">
  <div class="media-object specials_box_img">
    <div class="media-object-section float-right">
      <div class="responsive car">
        <img src="{{imageUrl}}" alt="car-rental-website-hyundai-accent" />
      </div>
    </div>

    <div class="media-object-section">
      <h4>{{header}}</h4>
      <p class="special1">{{text}}</p>
    </div>
  </div>

  <ul class="specials_box_txt">
    <li>{{country}}</li>
    <li>Rental period: {{rentalperiod}}</li>
    <li>Booking period: {{bookingperiod}}</li>
    <li>Minimum rental period: {{minrentalperiod}}</li>
    <li>Maximum rental period: {{maxrentalperiod}}</li>
    <li>Advance booking time: {{advancedbooking}}</li>
  </ul>
  <div class="specials_btn_box">
    <span class="special_price"
      >&pound;{{specialprice}}<span>per Day</span></span
    >
    <span class="cont_btn"><a href=""> Continue </a></span>
  </div>
</article>
